# golang secure_comm_service
server/secure_comm_service/.env
server/secure_comm_service/internal/keys/
server/secure_comm_service/public_key.pem

# golang auth_service
server/auth_service/.env
server/auth_service/public_key.pem
server/auth_service/private_key.pem
server/auth_service/internal/service/users/testkeys

# golang file_upload_service
server/file_upload_service/.env
server/file_upload_service/public_key.pem
server/file_upload_service/minio_files

# client
clients/golang/keys/
clients/golang/internal/big_message/
clients/python/sessions.db
clients/python/cloud_swagger.yaml

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# IDE settings
.idea/

# Virtual environment
venv/

#js
clients/javascript/node_modules
clients/javascript/src/keys